h1, h2 {

    color: red;
    text-align: center;

}

ul {

    color: white;
    background-color: rgb(32, 32, 32);

}

ol {

    color: white;
    background-color: blue;
}

img {
    height: auto;
    width: 500px;
}